apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: endpoint
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: endpoint
                port:
                  number: 8082
          - path: /endpoint-akka-mgmt
            pathType: Prefix
            backend:
              service:
                name: endpoint
                port:
                  number: 8558